.pattern-texture {
    background-image: repeating-linear-gradient(315deg,transparent,color-mix(in oklch, var(--color-content-subtle) 30%, transparent)1px,transparent 0,transparent 50%);
    background-size: 10px 10px;
    background-position: fixed
}