<div class="row-wrap items-center gap-2">
    <mark>Badge</mark>
    <mark x-icon="lucide:badge-dollar-sign"></mark>
    <mark><span x-icon="lucide:badge-dollar-sign"></span><span>Badge</span></mark>
    <mark class="sm">Small</mark>
    <mark>Default</mark>
    <mark class="lg">Large</mark>
    <mark class="brand">Primary</mark>
    <mark class="accent">Accent</mark>
    <mark class="negative">Negative</mark>
    <mark class="outlined">Outlined</mark>
    <mark class="transparent">Transparent</mark>

    <mark>Default</mark>
    <mark class="brand">Primary</mark>
    <mark class="accent">Accent</mark>
    <mark class="negative">Negative</mark>
    <mark>99</mark>
    <mark class="brand">99</mark>
    <mark class="accent">99</mark>
    <mark class="negative">99</mark>
    <mark x-icon="ph:house"></mark>
    <mark>
        <span x-icon="ph:house">99</span>
        <span>house</span>
    </mark>
    <mark class="brand" icon="ph:house"></mark>
    <mark class="accent" icon="ph:house"></mark>
    <mark class="negative" icon="ph:house"></mark>
</div>