<button x-icon="lucide:house"></button>
<button><span x-icon="lucide:house"></span><span>Button</span></button>
<button class="sm">Small</button>
<button>Default</button>
<button class="lg">Large</button>
<button class="brand">Primary</button>
<button class="accent">Accent</button>
<button class="negative">Negative</button>
<button class="ghost">Ghost</button>
<button class="hug">Hug</button>
<button class="outlined">Outlined</button>
<button class="transparent">Transparent</button>
<button class="link">Link</button>