<fieldset>
    <legend>Legend</legend>

    <label>
        <input type="checkbox" class="" />
        Lorem ipsum dolor sit amet
    </label>

    <label>
        <input type="checkbox" class="outlined primary" />
        Lorem ipsum dolor sit amet
    </label>

    <label>
        <input type="checkbox" class="outlined accent" />
        Lorem ipsum dolor sit amet
    </label>

    <label>
        <input type="checkbox" class="outlined negative" />
        Lorem ipsum dolor sit amet
    </label>

</fieldset>