<fieldset>

    <label>
        <input type="radio" class="outlined" name="radio" />
        Lorem ipsum dolor sit amet
    </label>

    <label>
        <input type="radio" class="outlined primary" name="radio" />
        Lorem ipsum dolor sit amet
    </label>

    <label>
        <input type="radio" class="outlined accent" name="radio" />
        Lorem ipsum dolor sit amet
    </label>

    <label>
        <input type="radio" class="outlined negative" name="radio" />
        Lorem ipsum dolor sit amet
    </label>

</fieldset>