<select x-model="utility">
    <option value="default">Default</option>
    <option value="primary">Primary</option>
    <option value="accent">Accent</option>
    <option value="negative">Negative</option>
</select>

<div :class="utility">
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p>Paragraph. Lorem ipsum <b>dolor sit amet</b> consectetur adipisicing elit. Quisquam, quos.</p>
    <small>Small. Lorem ipsum <b>dolor sit amet</b> consectetur adipisicing elit. Quisquam, quos.</small>
    <figcaption>Caption. Lorem ipsum <b>dolor sit amet</b> consectetur adipisicing elit. Quisquam, quos.</figcaption>
    <p>I'm an <a>inline text</a> link.</p>
    <p>This is some <code>inline code</code> text.</p>
    <p>This is some <kbd>KBD</kbd><kbd>SHIFT</kbd><kbd>CMD</kbd><kbd>Z</kbd> text.</p>
    <label>Label</label>
    <span>span</span>
    <cite>Citation</cite>
    <abbr>Abbreviation</abbr>
    <address>Address</address>
    <ins>Inserted</ins>
    <del>Deleted</del>
    <legend>Legend</legend>
    <blockquote>Blockquote. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</blockquote>
    <blockquote>
        <p>Blockquote with children. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
    </blockquote>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</li>
    </ul>
    <ul>
        <li x-icon="ph:house">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</li>
        <ul>
            <li x-icon="ph:house">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</li>
        </ul>
    </ul>
    <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</li>
        <ol>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</li>
        </ol>
    </ol>
    <pre>
        <code>&lt;head&gt;
            &lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/indux/dist/indux.css" /&gt;
            &lt;/head&gt;
        </code>
    </pre>
</div>