/* Switches */

@layer components {

    :where(input[role=switch]) {
        position: relative;
        min-width: calc(var(--spacing-field-height) * 0.65 * 2);
        width: calc(var(--spacing-field-height) * 0.65 * 2);
        height: calc(var(--spacing-field-height) * 0.65);
        padding: 0;
        box-sizing: content-box;
        border-radius: calc(var(--spacing-field-height) * 0.65);
        cursor: pointer;

        /* Marker */
        &::before {
            content: "";
            position: absolute;
            top: 0.125rem;
            left: 0.125rem;
            width: calc(var(--spacing-field-height) * 0.65 - 0.125rem * 2);
            height: calc(var(--spacing-field-height) * 0.65 - 0.125rem * 2);
            border-radius: 50%;
            background-color: color-mix(in oklch, var(--color-field-surface) 60%, var(--color-field-inverse));
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
            transition: var(--transition)
        }

        /* On */
        &:checked {
            background-color: var(--color-field-surface);

            /* Marker */
            &::before {
                left: calc(100% - (var(--spacing-field-height) * 0.65) + 0.125rem);
                background-color: var(--color-field-inverse)
            }

            &:hover {
                background-color: var(--color-field-surface-hover)
            }
        }
    }

}