/* Forms */

@layer components {

    :where(form) {
        display: flex;
        flex-direction: column;
        gap: 1.5ch;
        width: 100%;
    }

    /* Form element wrapper */
    :where(fieldset) {
        display: flex;
        flex-direction: column;
        gap: 1.5ch;
        width: 100%;
        padding: 1.5ch;
    }

    :where(fieldset:has(legend)) {
        border-radius: var(--radius, 0.5rem);
        border-color: var(--color-line, oklch(48.3% 0.006422 17.4 / 0.15));
        border-style: solid;
        border-width: 1px;

        & :where(legend) {
            padding: 0 1.5ch;
            font-size: 0.875rem;
            color: var(--color-content-subtle, oklch(67.4% 0.0318 251.27));
        }
    }

    /* Label wrapper */
    :where(label:has(input:not([role=button], [type=checkbox], [type=radio], [type=file]), textarea)) {
        display: flex;
        flex-direction: column;
        gap: 0.2ch;
        width: 100%;
        text-indent: 1ch;

        & :where(*) {
            text-indent: 0
        }
    }

    /* Label wrapper for radios and checkboxes */
    :where(label:has([type=radio], [type=checkbox])) {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 1ch;
        outline: 0 none;
        cursor: pointer;

        &:focus-within {
            box-shadow: 0 0 0 0
        }
    }

    /* Group wrapper */
    :where([role=group]:has(button, input, select)) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0;
        width: fit-content;
        max-width: 100%;

        &>* {
            flex-shrink: 0;

            &:focus {
                z-index: 1
            }
        }

        &>*:first-child {
            border-start-end-radius: 0;
            border-end-end-radius: 0
        }

        &>*:not(:first-child):not(:last-child) {
            border-radius: 0
        }

        &>*:last-child {
            border-start-start-radius: 0;
            border-end-start-radius: 0
        }

        &.even>* {
            flex-shrink: initial;
            width: 100%
        }
    }
}