.frame div {
    justify-content: start !important;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.code-block {
    margin-top: 0.5rem;
}

#page-context-menu {
    top: -2rem !important;

    & button {
        background-color: transparent;

        &:hover {
            background-color: rgba(0, 0, 0, 0.035);
        }

        & div {
            font-size: .75rem;
        }
    }
}

table {
    width: 100%
}

table thead th {
    text-align: left
}

td:not(:last-child) {
    white-space: nowrap
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.125em;
}

h4 {
    margin-bottom: 1.5rem !important
}

h5 {
    font-weight: 600;
    font-size: 14px
}

.indux-portal {
    position: relative;
    z-index: 1000;
    margin: 2rem 0;
}

.indux-container {
    position: relative;
    width: 100%;
}

#sidebar-content {
    padding-bottom: 20vh
}