/* Tooltips */
:root {
    --tooltip-hover-delay: 500ms;
}

@layer utilities {

    :where(.tooltip[popover]) {
        position: absolute;
        position-try-fallbacks: flip-inline, flip-block, flip-start;
        position-area: bottom;
        inset: auto;
        display: block;
        width: fit-content;
        max-width: 200px;
        margin: var(--spacing-popover-offset, 0.5rem) 0;
        padding: calc(var(--spacing) * .5) calc(var(--spacing) * 2);
        font-size: 0.875rem;
        color: var(--color-page);
        background-color: var(--color-content-stark);
        border: 0 none;
        border-radius: var(--radius);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);

        &:hover {
            transition-delay: 1s
        }

        & [x-icon]:first-child {
            margin-right: 0.25rem
        }
    }

    /* Top alignment */
    :where(.tooltip.top) {
        position-area: top;
        margin: var(--spacing-popover-offset) 0
    }

    /* Bottom alignment */
    :where(.tooltip.bottom) {
        position-area: bottom;
        margin: var(--spacing-popover-offset) 0
    }

    /* Start alignment */
    :where(.tooltip.start) {
        position-area: center start;
        margin: 0 var(--spacing-popover-offset)
    }

    /* End alignment */
    :where(.tooltip.end) {
        position-area: center end;
        margin: 0 var(--spacing-popover-offset)
    }

    /* Top start alignment */
    :where(.tooltip.top-start) {
        position-area: start span-end;
        margin: var(--spacing-popover-offset) 0
    }

    /* Top end alignment */
    :where(.tooltip.top-end) {
        position-area: start span-start;
        margin: var(--spacing-popover-offset) 0
    }

    /* Bottom start alignment */
    :where(.tooltip.bottom-start) {
        position-area: end span-end;
        margin: var(--spacing-popover-offset) 0
    }

    /* Bottom end alignment */
    :where(.tooltip.bottom-end) {
        position-area: end span-start;
        margin: var(--spacing-popover-offset) 0
    }

    /* Start top alignment */
    :where(.tooltip.start-top) {
        position-area: span-end start;
        margin: 0 var(--spacing-popover-offset)
    }

    /* Start bottom alignment */
    :where(.tooltip.start-bottom) {
        position-area: span-start start;
        margin: 0 var(--spacing-popover-offset)
    }
    

    /* End top alignment */
    :where(.tooltip.end-top) {
        position-area: span-end end;
        margin: 0 var(--spacing-popover-offset)
    }
    
    /* End bottom alignment */
    :where(.tooltip.end-bottom) {
        position-area: span-start end;
        margin: 0 var(--spacing-popover-offset)
    }

    /* Top start corner alignment */
    :where(.tooltip.top-start-corner, .tooltip.start-top-corner) {
        position-area: start start;
        margin: var(--spacing-popover-offset)
    }
    
    /* Top end corner alignment */
    :where(.tooltip.top-end-corner, .tooltip.end-top-corner) {
        position-area: start end;
        margin: var(--spacing-popover-offset)
    }
    
    
    /* Bottom start corner alignment */
    :where(.tooltip.bottom-start-corner, .tooltip.start-bottom-corner) {
        position-area: end start;
        margin: var(--spacing-popover-offset)
    }
    
    
    /* Bottom end corner alignment */
    :where(.tooltip.bottom-end-corner, .tooltip.end-bottom-corner) {
        position-area: end end;
        margin: var(--spacing-popover-offset)
    }

}