@layer base {

    :where([role=group]:has(button, input, select)) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0;
        width: fit-content;
        max-width: 100%;

        &>* {
            flex-shrink: 0
        }

        &>*:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0
        }

        &>*:not(:first-child):not(:last-child) {
            border-radius: 0
        }

        &>*:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0
        }
    }
}