/* Aside Sidebars */

@layer base {

    aside {
        width: 100%;
        max-width: 100%;

        & nav {
            display: flex;
            flex-direction: column;
            align-items: start;

            & a {
                font-weight: inherit;
                font-size: small;
                text-decoration: none;
                color: inherit;

                /* Modifier for tab appearance */
                &.tab {
                    width: 100%;
                    padding: calc(var(--spacing) * 0.5) 0 calc(var(--spacing) * 1.5) calc(var(--spacing) * 2);
                    border-left-width: 1px;
                    border-left-style: solid;
                    border-left-color: var(--color-line, oklch(48.3% 0.006422 17.4 / 0.15));

                    &:hover {
                        color: var(--color-content-stark);
                        border-left-color: var(--color-content-stark)
                    }

                    &.active {
                        border-left-color: var(--color-accent)
                    }
                }
            }

            &.active {
                color: var(--color-accent) !important;
                pointer-events: none
            }
        }
    }

}